<app-page>
    <div class="menu-principal">
        <a class="menu-principal__item" routerLink="/funcionarios/">
            <mat-icon fontIcon="people"></mat-icon>
            <h2>Funcionários</h2>
        </a>
        <a class="menu-principal__item">
            <mat-icon fontIcon="diversity_1"></mat-icon>
            <h2>Clientes</h2>
        </a>
        <a class="menu-principal__item">
            <mat-icon fontIcon="pets"></mat-icon>
            <h2>Pets</h2>
        </a>
        <a class="menu-principal__item">
            <mat-icon fontIcon="money"></mat-icon>
            <h2>Serviços</h2>
        </a>
    </div>
</app-page>
