.schedule {
  margin: 0 auto;
  font-family: Arial, sans-serif;

  h2 {
    text-align: start;
    margin-top: 16px;
    color: #333;
  }

  .mat-expansion-panel {
    margin-bottom: 8px;

    .card_agenda {
      flex-wrap: wrap;
      display: grid;
      align-items: center;
      justify-content: flex-start;
      background-color: #f5e0d9;
      border-radius: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    }
  }
}
::ng-deep .mat-grid-tile-content {
  align-items: start !important;
  justify-content: space-between !important;
  flex-direction: column !important;
}
