.funcionarios {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    &__acoes {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        &__botao {
            color: var(--cor-secundaria);
            background-color: var(--cor-primaria);
            border-radius: 0.5rem;
            padding: 1rem;
            text-decoration: none;
            &:hover {
                transition: scale 0.5s;
                scale: 1.1;
            }
        }
    }
    &__visualizacao {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        gap: 1rem;
        &__filtros {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--cor-primaria);
            color: var(--cor-secundaria);
            padding: 1rem;
            border-radius: 0.5rem;
            &__nome {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;
                & input {
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: none;
                }
            }
        }
        &__cartoes {
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
        }
    }
}

.sem-funcionarios {
    padding: 1rem;
    text-align: center;
}