/* Estilos para o container do formulário */
.containerLogin {
    display: flex;
    /* justify-content: center; /* Centraliza horizontalmente */
    /*align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* 100% da altura da viewport */
    justify-content: space-evenly;
    align-items: center;
}

/* Estilos para o formulário de login */
.formularioLogin {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 25%;
}

/* Estilos para o botão de login */
.botao {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    background-color: #b18761d9; /* Cor de fundo azul */
    color: #ffffff; /* Cor do texto branco */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

/* Estilos para o botão de login ao passar o mouse */
.botao:hover {
    background-color: #694520; /* Cor de fundo azul mais escura */
}

.botao:disabled {
    cursor: default;
    background-color: #cccccc;
    color: #666666;
}
