.container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid #593515;
    border-radius: 10px;
    background-color: #FFFF;
    color: #593515;
    width: 50%;
}

.formulario h2 {
    font-size: 20px;
    text-align: right;
    margin-bottom: 1rem;
}

.formulario fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem 0.5rem;
    border: 2px solid #FFF;
    border-radius: 1rem;
    gap: 1rem;
}

.formulario__botaoContainer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.formulario__botaoContainer button {
    color: #FFF;
    font-weight: 800;
    font-style: normal;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
    border-radius: 20px;
    background: #CB7F53;
}
