<!--
<app-page [incluirCabecalho]="false" [incluirRodape]="false">
    <main class="container">
        <form class="formulario" [formGroup]="formulario" (ngSubmit)="fazerLogin()">
            <img class="formulario__logo" src="assets/img/logo.png" />
            <h2 class="formulario__titulo">Login</h2>
            <div class="formulario__campos">
                <div class="input__login">
                    <label for="usuario">Usuário</label>
                    <input
                        id="usuario"
                        type="text"
                        name="usuario"
                        formControlName="username"
                    />
                    <div class="formulario__erro" *ngIf="mostrarErros('username')">
                        <span>O campo "Usuário" é obrigatório</span>
                    </div>
                </div>
                <div class="input__login">
                    <label for="senha">Senha</label>
                    <input
                        id="senha"
                        type="password"
                        name="senha"
                        formControlName="password"
                        maxlength="8"
                    />
                </div>
                <div class="formulario__erro" *ngIf="mostrarErros('password')">
                    <span>O campo "Senha" é obrigatório</span>
                </div>
            </div>
            <button class="formulario__botao" type="submit" [disabled]="!formulario.valid">Confirmar</button>
        </form>
    </main>
</app-page>
-->

<app-page [incluirCabecalho]="false">
  <main class="container">
      <div class="left-panel">
          <img class="logo" src="assets/img/logo2.png" alt="Pet Happy Logo">
      </div>
      <div class="right-panel">
          <form class="formulario" [formGroup]="formulario" (ngSubmit)="fazerLogin()">
              <h2 class="formulario__titulo">LOGIN</h2>
              <div class="formulario__campos">
                  <div class="input__login">
                      <label for="usuario">Usuário</label>
                      <input id="usuario" type="text" name="usuario" formControlName="username" />
                      <div class="formulario__erro" *ngIf="mostrarErros('username')">
                          <span>O campo "Usuário" é obrigatório</span>
                      </div>
                  </div>
                  <div class="input__login">
                      <label for="senha">Senha</label>
                      <input id="senha" type="password" name="senha" formControlName="password" maxlength="8" />
                  </div>
                  <div class="formulario__erro" *ngIf="mostrarErros('password')">
                      <span>O campo "Senha" é obrigatório</span>
                  </div>
              </div>
              <button class="formulario__botao" type="submit">Entrar na conta</button>
          </form>
      </div>
  </main>
</app-page>
