<div class="container">
    <form class="formulario" [formGroup]="formulario" (ngSubmit)="fazerLogin()">
        <img class="formulario__img" src="assets/img/logo.png" />
        <h2 class="formulario__titulo">Login</h2>
        <div class="formulario__inputs">
            <div class="input__login">
                <label for="usuario">Usuário</label>
                <input
                    id="usuario"
                    type="text" 
                    name="usuario"
                    formControlName="username"
                />
            </div>
            <div class="input__login">
                <label for="senha">Senha</label>
                <input
                    id="senha"
                    type="password" 
                    name="senha"
                    formControlName="password"
                />
            </div>
        </div>
        <input class="botao" type="submit" />
    </form>
</div>