.botao-cadastro__container {
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
}

.botao-cadastro {
    max-width: 15%;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.botao-cadastro:hover {
    cursor: pointer;
}

.botao-cadastro__texto {
    font-weight: 700;
    text-align: center;
}