.cartoes__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cartao {
    display: flex;
    width: 29%;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #694520;
    color: #f5f5f5;
    align-items: start;
}

.cartao:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px lightgray;
    transition: box-shadow 0.25s;
}

.cartao__nome {
    font-weight: 700;
}

.cartao__username {
    font-size: 0.8rem;
}