.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0 1rem;
}

.cabecalho a {
    text-decoration: none;
    color: inherit;
}

.cabecalho a:hover {
    cursor: pointer;
}

.cabecalho__container {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
}

.cabecalho__titulo {
    font-size: 1.5rem;
}

.cabecalho__logo {
    width: 64px;
    border-radius: 50%;
}