<header class="cabecalho">
        <a class="cabecalho__logo" routerLink="/">
            <img src="assets/img/logo2.png" alt="Logo da PetHappy"/>
        </a>
        <nav class="cabecalho__menu-lateral">
            <ul>
                <li>
                    <a routerLink="/funcionarios" [ngStyle]="selecionado('funcionarios')">Funcionários</a>
                </li>
                <li>
                    <a routerLink="/clientes" [ngStyle]="selecionado('clientes')">Clientes</a>
                </li>
                <li>
                    <a routerLink="/pets" [ngStyle]="selecionado('pets')">Pets</a>
                </li>
                <li>
                    <a routerLink="/servicos" [ngStyle]="selecionado('servicos')">Serviços</a>
                </li>
            </ul>
        </nav>
</header>
