body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-image: solid white;
    font-family: Arial, Helvetica, sans-serif;
   
}
.box{
    position: absolute;
    color: rgb(255, 156, 86);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.05);
         
    border-radius: 15px;
}
fieldset{
    color: #6A482F;
    border: none;
}
legend{
    border: 1px solid #6A482F;
    padding: 10px;
    background-color: #BF9278;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}
.inputBox{
    position: relative;
}
.inputUser{
    width: 100%;
    font-size: 15px;
    color: #6A482F;
    border: none;
    border-bottom: 1px solid rgb(255, 156, 86);
    background: none;
    outline: none;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
    top: -18px;
    left: 0;
    color: rgb(255, 156, 86);
    font-size: 12px;
}
#data_nasc{
    
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: solid #BF9278;
    width: 100%;
    border: none;
    padding: 15px;
    margin-top: 10px;
    background-color: #BF9278;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right, rgb(242, 170, 87), rgb(189, 154, 121));
}
.caixa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .0);
}