.dashboard {
    padding: 1rem;
}

.dashboard__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--cor-primaria);
}

.dashboard__cartoes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.opcoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem
}