.funcionarios {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.funcionarios__acoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cartoes {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}