.cartao-alimento {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 1px 1px 1px black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    &__item {
        display: flex;
        gap: 0.5rem;
    }
}