.funcionarios {
    padding: 1rem;
    
    &__filtros {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__nome {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            & input {
                width: 70%;
                padding: 0.5rem;
                border-radius: 0.5rem;
            }
        }

    }
}

.sem-funcionarios {
    padding: 1rem;
    text-align: center;
}


.cartoes {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}