.modal {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    &__titulo {
        font-size: 2rem;
    }
    &__acoes {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
    }
}