<app-page></app-page>

<main class="container">
    <!--
  <div class="formulario__fechar">
    <button (click)="fecharFormulario()">Fechar</button>
  </div>
  -->
    <form 
        class="formulario" 
        [formGroup]="formularioFuncionario" 
        (ngSubmit)="cadastrarOuAtualizarFuncionario()" 
    >
        <h2 class="formulario_titulo">{{ exibirTitulo() }}</h2>

        <fieldset class="formulario_fieldset">
            <legend class="formulario_legend">Nome</legend>
            <app-campo-texto
            name="nome"
            placeholder="Nome do funcionário"
            [control]="obterControle('nome')"
            />
        </fieldset>

        <fieldset class="formulario_fieldset">
            <legend class="formulario_legend">Endereço</legend>
            <app-campo-texto
                name="cidade"
                label="Cidade"
                placeholder="Nome da Cidade"
                [control]="obterControle('cidade')"
            />
            <app-campo-texto
                name="bairro"
                label="Bairro"
                placeholder="Nome do bairro"
                [control]="obterControle('bairro')"
            />
            <app-campo-texto
                name="rua"
                label="Rua"
                placeholder="Nome da rua"
                [control]="obterControle('rua')"
            />
            <app-campo-texto
                name="numero"
                label="Número"
                placeholder="Número da residência"
                [control]="obterControle('numero')"
            />
            <app-campo-texto
                name="complemento"
                label="Complemento"
                placeholder="Complemento do endereço"
                [control]="obterControle('complemento')"
            />
        </fieldset>

        <fieldset class="formulario_fieldset">
            <legend class="formulario_legend">Contato</legend>
            <app-campo-texto
                name="telefone-principal"
                label="Telefone principal"
                placeholder="Número do telefone principal"
                [control]="obterControle('telefonePrincipal')"
                [maxLength]="15"
            />
            <app-campo-texto
                name="telefone-alternativo"
                label="Telefone alternativo"
                placeholder="Número de telefone alternativo"
                [control]="obterControle('telefoneAlternativo')"
                [maxLength]="15"
            />
        </fieldset>

         <fieldset *ngIf="isCadastro()">
            <legend>Cadastro de Usuário</legend>
            <app-campo-texto
                name="email"
                label="E-mail"
                placeholder="Digite um e-mail válido"
                [control]="obterControle('email')"
            />
            <app-campo-texto
                name="usuario"
                label="Usuário"
                placeholder="Digite o nome do usuário"
                [control]="obterControle('username')"
            />
            <app-campo-texto
                name="senha"
                label="Senha"
                placeholder="Digite uma senha"
                [control]="obterControle('password')"
                [maxLength]="8"
                [isPassword]="true"
            />
        </fieldset>

        <div class="formulario__botaoContainer" >
            <button type='submit' [disabled]="desabilitaBotao()">{{ exibirTextoBotao() }}</button>
        </div>
    </form>
</main>